* {
box-sizing: border-box;
margin: 0;
padding: 0;
color: blanchedalmond;
}
.nav{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: darkslategray;
}
.nav-links li{
display: inline-block;
padding: 0px 20px;
background-color: darkslategray;
color: blanchedalmond;
}
.btn{
background-color: black;
color: blanchedalmond;
}
.nav-links{
background-color: darkslategray;
color: dodgerblue;
}
